name: Build and deploy Node.js app to Azure Web App - mtwallet-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install all dependencies and build
        run: |
          npm ci
          npm run build

      - name: Prune dev dependencies
        run: npm prune --omit=dev

      - name: Create deployment zip
        run: zip -r deploy.zip dist/ node_modules/ package.json

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: deploy.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_51C328BD2E864491A6CF8BFB76077393 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_613DE0C1D8ED4A2790EDFDF2D737F7AA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_10AD43AC889743F0B30BB12465078414 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'mtwallet-backend'
          slot-name: 'Production'
          package: deploy.zip
          startup-command: 'node dist/index.js'
